*{
    padding: 0;
    margin: 0;
    
}
ul,li{
    color: #ffffff;
    list-style: none;
    display: flex;
    margin-left: 80px;
    bottom: 40px;
    position: relative;
 
}
li:hover{
    background-color: rgba(9, 26, 185, 0.61);
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 10px;
    
}
li{
    margin-left: 80px;
    align-items: center;
    
    
}
.menu{
    margin-left: 300px;
    
}
.log button{
    background-color: rgba(17, 5, 131, 0.945);
    border: 1px solid rgba(6, 32, 150, 0.801);
    border-radius: 30px;
    color: white;
    padding: 7px 18px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 1150px;
   position: relative;
   bottom: 55px;
    
}
.rowone{
    display: flex;
}
.logo img{
    width: 100px;
    height: 100px;
    margin-top: 13px;
    margin-left: 150px;
 }
 .col1 img{
     width:440px;
     height: 300px;
     margin-left: 200px;
     margin-top:90px;
 }
  .col2{
    margin-top:50px;
    margin-left:100px ;
  }
  .col2 p{
      font-size: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(255, 255, 255);
      padding: 8px;
      font-weight: 300;
  }
  .col2 #one{
      margin-left: 100px;
  }
  .col2 #two{
      margin-left: 40px;
  }
  .col2 #three{
      margin-left: 138px;
      margin-bottom: 20px;
  }
  .col2 #four{
    margin-left:150px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    margin-bottom: 30px;
  }
 .col2 h3{
     margin-left: 50px;
     font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    
 }
 .col2 #five{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-left: 70px;
 }
 .labad{
    background-color: rgb(3, 35, 180);
    height: 95px;
    margin-top: 150px;
 }
 .sadex{
     margin-top: 100px;
 }
 .sadex h2{
     text-align: center;
     font-size: 50px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 600;
     color: rgb(255, 255, 255);
 }
 .sadex p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
 }
 .rowtwo{
     display: flex;
     justify-content: center;
     margin-top: 30px;
     margin-bottom: 90px;
     
 }
 .col3 img:hover{
    transform: scale(0.9999);
    z-index: 50px;
     
 }
 .col4 img:hover{
    transform: scale(0.9999);
    z-index: 50px;
     
 }

 .col3{
    width: 335px;
     height: 300px;
     background-color: rgb(243, 243, 243);
     border-radius: 15px;
     margin-top: 50px;
     box-shadow: rgb(0, 0, 0);
     margin-left: 20px;

     
    }

.col3 img{
    width: 335px;
     height: 180px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     margin-bottom: 20px;

 }

 .col3 h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .col4 h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .col4{
    width: 335px;
    height: 350px;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: rgb(133, 133, 133);
    margin-left: 20px;
   }
   
.col4 img{
    width: 335px;
    height: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 20px;

}
.shan{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 500;
margin-left: 150px;
}
.rowthree{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}

.col5{
    width: 335px;
     height: 410px;
     background-color: rgb(243, 243, 243);
     border-radius: 15px;
     margin-top: 40px;
     box-shadow: rgb(133, 133, 133);
     margin-left: 20px;

     
    }

.col5 img{
    width: 335px;
     height: 220px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     margin-bottom: 20px;

 }
 .col5 h3,p{
     padding: 5px;
    color: rgb(0, 13, 29);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 } 
 
 .col5 p{
     padding: 17px;
     font-size: 17px;
 }
 .lix{
     margin-top: 100px;
 }
 .lix h2{
     font-size: 30px;
     margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .lix p{
     font-size: 20px;
    color: rgba(255, 255, 255, 0.733);
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-bottom: 50px;
}
.todoba{
    display: flex;
}
